@font-face {
	font-family: 'teacher';
	src: url('fonts/KGWhattheTeacherWants.ttf');
}
.description {
	position: relative;
	height: 250px;
	background-image: url('images/eboard.jpg');
	border-radius: 30px;
	background-size: 100%;
	margin-top: 10px;
}
.info {
	position: absolute;
	height: 200px;
	width: 500px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 30px;
	margin: 2.9% 20.6%;
}
.profiles {
	width: 850px;
	border-radius: 30px;
	margin-top: 10px;
}
.headshots {
	width: 114px;
	border-radius: 200px;
	margin: 10px;
}
h2 {
	font-family: teacher;
	font-size: 60px;
	color: rgba(0,0,0,0.5);
}
h3 {
	font-family: Arial;
}
.highlight {
	height: 160px;
	border-radius: 10px;
	float: left;
	margin: 0px 10px 0px 15px;
}
.bio {
	display: block;
	list-style: none;
	margin-left: 10px;
	font-family: Arial;
}
h5 {
	font-family: teacher;
	font-size: 26px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 30px;
}

.recruitment {
	position: relative;
	height: 250px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 30px;
	margin-top: 10px;
}
h6 {
	margin: 0;
	font-family: teacher;
	font-size: 22px;
}
.recruitment {
	font-family: Arial;
	font-size: 16px;
	padding: 5px 10px;
}
