/*PAGE HEADER CSS*/
/*FONTS*/
@font-face {
	font-family: 'teacher';
	src: url('fonts/KGWhattheTeacherWants.ttf');
}
@font-face {
	font-family: 'vanlose';
	src: url('fonts/Vanlose_SimpleType.otf');
}
html {
	z-index: -1;
}
/*BODY*/
body {
	margin: 0px;
	text-align: center;
	background: rgb(150,0,0);
}
.container {
	width: 850px;
	margin: 0 auto;
	display: block;
}
/*TOP NAVIGATION*/
.nav {
	position: relative;
	width: 100%;
	margin: 0 auto;
	z-index: 1;
	text-align: center;
	font-family: Helvetica;
	vertical-align: middle;
	height: 34px;
	background: black;
}
.nav .navitem {
	display: inline-flex;
	height: 34px;
	margin: 0 1px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	list-style: none;
}
.nav, .header {
	border-bottom-right-radius: 30px 30px;
	border-bottom-left-radius: 30px 30px;
}

.navlink {
	font-family: teacher;
	font-size: 16px;
	letter-spacing: 1px;
	margin: auto 2px;
	padding: 2px;
	top: 2px;
}
.navlink:link {
	text-decoration: none;
	color: white;
}
.navlink:visited {
	color: white;
}
.navlink:hover {
	color: rgb(150,0,0);
	background: white;
	border-radius: 10px;
}
.navlink:active{

}

/*CONTENT*/
.content {
	margin: 10px 0px 10px 0px;
	background-color: rgba(255,255,255,0.60);
	width: 800px;
	padding: 25px;
	border-radius: 30px;

}

.header_logo {
	height: 160px;
	margin-top: 4%;
}
.logo {
	height: 200px;
	position: relative;
	text-align: center;
	background-color: black;
	border-top-right-radius: 50px 50px;
	border-top-left-radius: 50px 50px;
	margin-top: 10px;
}

.crawl {
	height: 175px;
}
/*END OF PAGE HEADER*/
h1 {
	margin: 0;
	font-family: "teacher";
}
.index_p {
	text-align: left;
	font-size: 18px;
	font-family: "Trebuchet MS";
}

.contact_icon{
	height: 75px;
}
.footer {
	font-family: "Trebuchet MS";
	font-size: 14px;
}